.selection-container {
  max-width: 600px;
  margin: 20px auto;
}
.selection-container .main-categories-header {
  text-align: center;
  padding: 20px 0px;
}

.selection-container .main-categories-header h5 {
  font-weight: 600;
}

.selection-container .main-categories-body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
  gap: 2rem;
  margin: 30px 0px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 0px) and (max-width: 575.98px) {
  .selection-container .main-categories-body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(150px, 100%), 1fr));
    gap: 1rem;
    margin: 30px 0px;
  }
}

.selection-container .main-categories-body .item {
  text-align: center;
  background-color: rgb(0 0 0 / 4%);
  padding: 30px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #404040;
  color: #1976d2;
}

.selection-container .main-categories-body .item p {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.selection-container .main-categories-body .item:hover,
.selection-container .main-categories-body .item:focus {
  background-color: rgb(0 0 0 / 20%);
}

.selection-container .main-categories-body .item.active {
  background: #1976d2;
  color: #fff;
}

.selection-container .main-categories-footer {
  text-align: center;
  padding: 30px 0px;
}

.selection-container .main-categories-footer button {
  max-width: 400px;
  height: 50px;
  width: 100%;
}
